#right-banner{
    background-color: #f7f7f7;
     width: 20rem;
    height:35rem;
    margin-left: 28rem;
    margin-top: -20.3rem;
    margin-right:10px;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 2px 1px 5px 2px grey;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 20rem 35rem;
}